Source: libosmo-pfcp
Section: libs
Priority: optional
Maintainer: Osmocom team <openbsc@lists.osmocom.org>
Build-Depends: debhelper (>= 10),
               dh-autoreconf,
               autotools-dev,
               autoconf,
               autoconf-archive,
               automake,
               libtool,
               pkg-config,
               libosmocore-dev (>= 1.10.0),
               libtalloc-dev (>= 2.1.0)
Standards-Version: 3.9.8
Vcs-Git: https://gitea.osmocom.org/osmocom/libosmo-pfcp
Vcs-Browser: https://gitea.osmocom.org/osmocom/libosmo-pfcp
Homepage: https://projects.osmocom.org/projects/libosmo-pfcp

Package: libosmo-pfcp
Section: libs
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         libosmo-gtlv1 (= ${binary:Version}),
         libosmo-pfcp0 (= ${binary:Version})
Description: Osmocom PFCP protocol implementation (metapackage)
 Install Osmocom PFCP and generic TLV protocol libraries.

Package: libosmo-gtlv1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
Pre-Depends: ${misc:Pre-Depends}
Description: Generic TLV and TLIV protocol support
 Decoding, encoding and logging of protocols using a Tag-Length-Value and/or
 Tag-Length-Instance-Value structure.

Package: libosmo-gtlv-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: ${misc:Depends},
         libosmo-gtlv1 (= ${binary:Version}),
         libosmocore-dev (>= 1.10.0),
         libtalloc-dev (>= 2.1.0)
Description: Development files for libosmo-gtlv
 libosmo-gtlv implements decoding, encoding and logging of protocols using a
 Tag-Length-Value and/or Tag-Length-Instance-Value structure. This package in
 particular contains the files for compiling a program using this library.

Package: libosmo-gtlv-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Depends: ${misc:Depends},
         libosmo-gtlv1 (= ${binary:Version})
Description: Debug symbols for libosmo-gtlv
 libosmo-gtlv implements decoding, encoding and logging of protocols using a
 Tag-Length-Value and/or Tag-Length-Instance-Value structure. This package in
 particular contains the debug symbols for this library.

Package: libosmo-pfcp0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libosmo-gtlv1 (= ${binary:Version})
Pre-Depends: ${misc:Pre-Depends}
Description: PFCP protocol support
 Decoding, encoding and endpoint implementation of the Packet Forwarding Control Protocol
 (3GPP TS 29.244).

Package: libosmo-pfcp-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: ${misc:Depends},
         libosmo-pfcp0 (= ${binary:Version}),
         libosmo-gtlv-dev (= ${binary:Version}),
         libosmocore-dev,
         libtalloc-dev,
Description: Development files for libosmo-pfcp
 libosmo-pfcp implements decoding, encoding and endpoint implementation of the
 Packet Forwarding Control Protocol (3GPP TS 29.244). This package in particular
 contains the files for compiling a program using this library.

Package: libosmo-pfcp-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Depends: ${misc:Depends},
         libosmo-pfcp0 (= ${binary:Version})
Description: Debug symbols for libosmo-pfcp
 libosmo-pfcp implements decoding, encoding and endpoint implementation of the
 Packet Forwarding Control Protocol (3GPP TS 29.244). This package in particular
 contains the debug symbols for this library.
